<nz-table #dataTable [nzData]="dataList"  [nzScroll]="{ x: '1150px', y: '10%' }">
  <thead>
    <tr>
      <ng-container *ngFor="let column of columns">
        <th [nzLeft]="column.field == 'title'" #fieldTable [nzWidth]="column.withColumn">
          {{ column.header }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="columns.length > 0">
      <tr *ngFor="let data of dataTable.data">
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="!column.isCustom">
            <td [nzLeft]="column.field === 'title' ">{{ data[column.field] }}</td>
          </ng-container>
          <ng-container *ngIf="column.isCustom">
            <ng-container
              *ngTemplateOutlet="
                customTemplate;
                context: { $implicit: column.field, data: data }
              "
            ></ng-container>
          </ng-container>
        </ng-container>
        <td nzRight>
          <button>Edit</button>
          <button>Delete</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<ng-template #customTemplate let-field let-data="data">
  <!-- Custom field rendering logic here -->
  <td *ngIf="field == 'image'">
    <!-- Ví dụ: render custom với format đặc biệt -->
    <img [src]="data[field]">
    <!-- Hoặc sử dụng một component khác để render -->
  </td>
  <td *ngIf="field == 'status'">
    <span style="background-color: red; color: white;"> {{data[field]}}</span>
  </td>
</ng-template>
