@import "../assets/styles/layout";
@import "../assets/styles/dark-theme";
@import "../assets/styles/light-theme";
@import "../assets/styles/variables";


.sider-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align items at the start */
    // height: 100%;
    list-style-type: none;
    cursor: pointer;
    /* Remove default list styles */
    margin: 0;
    // height: calc(100vh);
    text-align: center;
    li {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
        span:nth-child(1) {
            margin-right: 5px;
        }

        // span:nth-child(2){
        //     font-size: 16px;
        //     font-weight: 500;
        // }
    }

    // li:last-child {
    //     margin-top: auto;
    // }
}

.layout {
    min-height: 100vh;
  }

  nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
  }

  .right-layout {
    margin-left: 200px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 24px 16px 0;
    overflow: initial;
  }

  .inner-content {
    // padding: 24px;
    background: #fff;
    text-align: center;
  }

  nz-footer {
    text-align: center;
  }