// # Sass Variables
:root {
    --app-primary-color: #00984e;
    --green-global: #00984E;
    --green-primary: #2dc76d;
    --green-primary-hover: #2dc76dd7;
    --green-primary-focus: #26a862;
    --green-secondary: #4fb980;
    --green-focus: #a1dcbb;
    --green-light: #e9f9ef;
    --green-light-hover: #e9f9efd7;
    --green-light-focus: #2dc76d33;
    --green-faint: #f8fcf8;
    --green-bg: #f3fff7;
    --green-100: #e9f9ef;
    --green-300: #4aef9d;
    --green-500: #2dc76d;
    --green-600: #26a862;
    --green-700: #006333;
    --red-200: #fff2f2;
    --red-500: #ff5a5a;
    --purple-500: #bc8dcc;
    --purple-600: #9d8dcc;
    --blue-100: #ecf7fb;
    --blue-200: #d9f0f8;
    --blue-300: #b2e2f1;
    --blue-400: #79cce7;
    --blue-500: #3fb6dc;
    --blue-600: #379ebf;
    --blue-700: #006788;
    --orange-100: #fff4ef;
    --orange-200: #ffe9de;
    --orange-300: #ffd3bd;
    --orange-400: #ffb28b;
    --orange-500: #ff915a;
    --orange-600: #d97b4c;
    --yellow-100: #fff9e6;
    --yellow-500: #ffc800;
    --yellow-600: #f2ae00;
    --black: #000;
    --gray-dark: #37474f;
    --gray: #5f6b71;
    --gray-middle: #879195;
    --gray-light: #d7dadc;
    --gray-bg: #fafafa;
    --gray-100: #fafafa;
    --gray-200: #eeeeee;
    --gray-300: #bebebe;
    --gray-400: #595959;
    --gray-500: #444444;
    --gray-theme: #FAFAFA;
    --gray-title: #323232;
    --white: #fff;
    --error: #ff2828;
    --warn: #e87c07;
    --warn-border: #fcdbb3;
    --warn-bg: #fff8ed;
    --tag-edit: var(--green-secondary);
    --tag-approved: #3cc6c8;
    --tag-reject: #ff8d8d;
    --tag-pending: #f7a13f;
    --font-family-notosans: 'Noto Sans', sans-serif;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-size-h1: 20px;
    --font-size-h2: 18px;
    --font-size-h3: 16px;
    --font-size-h4: 14px;
    --font-size-h5: 12px;
    --font-size-body: 15px;
    --font-size-tag: 13px;
    --line-height-body: 22px;
    --line-height-toast: 20px;

    --main-content-margin: 0px 0px 0px 0px;
    --main-content-breadcrumb-margin: 0px 0px 0px 0px;
}